.root {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	li {
		border-radius: 30px;
		border: 1px solid #fe5f1e;
		
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.3s ease color;
			height: 40px;
			min-width: 40px;
			padding: 10px;

			cursor: pointer;
			transition: 0.3s ease background;
		}
		&:global {
			&:hover,
			&.selected {
				background-color: #fe5f1e;
				a {
					color: #fff;
				}
			}
		}
	}
}
